@import url('css/fonts.css');
@import url('css/payments.css');
@import url('css/style.css');

.woocommerce-page .woocommerce-Tabs-panel--description li:before {
    content: "\e87a";
    font-family: 'linearicons';
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: .1em;
    font-size: .7em;
    line-height: 1.7em;
}

/*scrollTop*/
.scroll-top {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    left: 250px;
    background: rgba(255,255,255,.6) !important ;
    z-index: 9999;
    border-radius: 50%;
    border: 1px solid;
    opacity: 1;
    transition-timing-function: ease-in, linear;
    transition-property: opacity, left;
    transition-duration: .5s, .5s;
    transition-delay: .5s, 0s;
}
a.scroll-top-inner {
    font-size: 2.5em;
}
a.scroll-top-inner, a.scroll-top-inner:active, a.scroll-top-inner:visited {
    color: rgba(0,0,0,1) !important;
    text-decoration: none;
}
.dimmed {
    opacity: 0.3;
    transition: opacity .5s ease-in;
}
.scroll-top.active {
    transition: opacity .5s ease-in 0s;
}
.away {
    position: fixed;
    left: -99999px;
    opacity: 0;
    transition-timing-function: ease-in, linear;
    transition-property: opacity, left;
    transition-duration: .5s, .5s;
    transition-delay: 0s, .5s;
}
a.scroll-top-inner:before {
    width: 60px !important;
    margin: 0;
}
label[for*="quantity_"] {
    display: none !important;
}

@media only screen and (max-width: 768px) {

    [class*="-badge badge"] {
        text-transform: uppercase;
        display: inline-block;
        font-weight: 700;
        float: right;
        text-align: center;
        z-index: 99;
    }
    .product [class*="-badge badge"] {
        height: 20px;
    }
    .product .product-top [class*="-badge badge"] {
        font-size: 1em;
        height: 30px;
        line-height: 1.2em;
        width: 150px;
        max-width: 150px;
        text-align: center;
    }
    .product .product-top .sale-badge.badge {
        background: rgb(216, 157, 3) none repeat scroll 0 0;
        color: #fff;
        right: -39px;
        transform: rotate(45deg);
        width: 134px;
        max-width: 134px;
        top: 15px;
        padding: 5px 0;
        border-width: 0;
    }
    .wc-new-badge {
        background: rgb(32, 181, 37) none repeat scroll 0 0;
        color: #fff;
        right: -37px;
        top: 8px;
        transform: rotate(45deg);
        width: 110px !important;
    }
    .onsale + * + .wc-new-badge {
        right: -26px;
        top: 22px;
    }
    
    .powered-by-webpremiere .logo {
        width: 100px;
    }

}