/*	Metaslider Flex Fancybox Integration	*/

.metaslider-flex.fancybox .ms-image {
    opacity: 1 !important;
    margin-bottom: 3px !important;
}

.metaslider-flex.fancybox {
    max-width: none !important;
}

.metaslider-flex.fancybox .flexslider {
    max-height: none !important;
    border-radius: 0 !important;
}
.fancybox .ms-image {
    background: #36485f;
    /* background: linear-gradient(270deg, #e2e2e2 0%, #f9f9f9 100%); */
}
.textbox .fancybox .ms-image {
    background: #fff;
    /* background: linear-gradient(270deg, #e2e2e2 0%, #f9f9f9 100%); */
}
.sidebar .fancybox .ms-image {
    background: #fff;
    /* background: linear-gradient(270deg, #e2e2e2 0%, #f9f9f9 100%); */
}
.fancybox ul > li::before {
    content: "" !important;
}
.sidebar .widget {
    padding: 20px;
    border-radius: 5px;
}
.table-container ul.slides > li {
    padding-left: 0 !important;
}

@media screen and (min-width: 601px) {

    /*	Metaslider Flex Fancybox Integration	*/

    .metaslider-flex.fancybox .flexslider {
        max-height: 800px !important;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 0 !important;
    }

    .single-entry .metaslider-flex.fancybox .flexslider {
        max-height: none !important;
        overflow: hidden;
    }

    .metaslider-flex.fancybox .slides {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .metaslider-flex.fancybox .ms-image {
        display: flex !important;
        opacity: 1 !important;
        z-index: auto !important;
        vertical-align: bottom;
        margin: 5px !important;
    }
    
    .metaslider-flex.fancybox .ms-image {
        flex: 0 0 140px;
        padding: 5px !important;
        border: 1px solid #2c394c !important;
        border-radius: 4px;
    }
    .metaslider-flex.fancybox.small .ms-image {
        flex: 0 0 77px;
    }
    .sidebar .metaslider-flex.fancybox .ms-image {
        flex: 0 0 80px;
        padding: 1px !important;
        border-radius: 2px;
    }
    .sidebar .metaslider-flex.fancybox .ms-image {
        flex: 0 0 80px;
        padding: 1px !important;
        border-radius: 2px;
    }
    .fancybox-slide--complete .fancybox-image {
        padding: 13px !important;
        border: 1px solid #f7f7f7 !important;
        background: #fff;
        background: linear-gradient(270deg, #a09c9c 0%, #cacaca 100%);
        border-radius: 5px;
        -webkit-transition: padding .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .fancybox-image {
        padding: 0px !important;
        border: 0 none !important;
    }

    .single-entry .metaslider-flex.fancybox .ms-image {
        width: 24.23% !important;
    }
}